@import '../../bower_components/swiper/dist/css/swiper.min.css'
@import '../../bower_components/normalize.css/normalize.css'

.clearfix:after 
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

.clearfix   
    display:inline-table
    height:1%
    display:block

#loading 
    background:url("/static/image/299.gif") no-repeat
    background-color:rgba(0,0,0,0.8)
    background-position:center
    background-size:auto
    position:absolute
    width:100%
    height:100%
    z-index:100000


@-webkit-keyframes tap 
    0% 
        -webkit-transform:scale(1)
        opacity:1
    
    100% 
        -webkit-transform:scale(1.3)
        opacity:0.1
    

@-webkit-keyframes ratote 
    0% 
        -webkit-transform:rotate(0deg)
    
    100% 
        -webkit-transform:rotate(360deg)
    
@-webkit-keyframes bigger 
    0%,100%
        -webkit-transform:scale(1)
    
    50% 
        -webkit-transform:scale(1.1)
@-webkit-keyframes share 
    0%
        -webkit-transform:rotate(0deg)
    20%,40%
        -webkit-transform:rotate(5deg)
    10%,30%
        -webkit-transform:rotate(-5deg)
    50%,100%
        -webkit-transform:rotate(0)
    

@-webkit-keyframes up-animation 
    0%,100% 
        -webkit-transform:scale(1)
        opacity:.9
    
    1%,99% 
        -webkit-transform:translateY(0)
    
    49% 
        -webkit-transform:translateY(-15px)
    
    50% 
        opacity:0
        -webkit-transform:scale(0.2)
    

@-webkit-keyframes coins1
    0%
        -webkit-transform:translateY(-0.5rem)
        opacity:1
    50%
        -webkit-transform:translateY(0.5rem)
        opacity:0
    100%
        -webkit-transform:translateY(-0.5rem)
        opacity:0

@-webkit-keyframes coins2
    0%
        opacity:0
        -webkit-transform:translateY(-0.5rem)
    10%
        -webkit-transform:translateY(-0.5rem)
        opacity:1
    50%
        -webkit-transform:translateY(0.5rem)
        opacity:0
    100%
        -webkit-keyframes:translateY(-0.8rem)
        opacity:0
@-webkit-keyframes coins3
    0%
        opacity:0
        -webkit-transform:translateY(-0.5rem)
    20%
        -webkit-transform:translateY(-0.5rem)
        opacity:1
    50%
        -webkit-transform:translateY(0.3rem)
        opacity:0
    100%
        -webkit-transform:translateY(-0.9rem)
        opacity:0

@-webkit-keyframes p5-c1
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    50%
        -webkit-transform:translateX(-0.08rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.16rem)
@-webkit-keyframes p5-c2
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    50%
        -webkit-transform:translateX(-0.08rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.12rem)
@-webkit-keyframes p5-c3
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    50%
        -webkit-transform:translateX(-0.05rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.1rem)
@-webkit-keyframes p5-c4
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    20%
        -webkit-transform:translateX(0rem)
        opacity:0
    60%
        -webkit-transform:translateX(-0.04rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.18rem)
@-webkit-keyframes main3-text
    0%
        -webkit-transform:scale(1)
    25%
        -webkit-transform:scale(1.3)
    32.5%
        -webkit-transform:scale(1.3) rotate(-15deg)
    50%
        -webkit-transform:scale(1.3) rotate(15deg)
    70%
        -webkit-transform:scale(1)
    100%
        -webkit-transform:scale(1)
@-webkit-keyframes main4
    0%
        -webkit-transform:rotate(0)
    10%
        -webkit-transform:rotate(7.5deg)        
    20%
        -webkit-transform:rotate(-7.5deg)
    30%
        -webkit-transform:rotate(7.5deg)        
    40%
        -webkit-transform:rotate(-7.5deg)
    50%
        -webkit-transform:rotate(0)
    100%
        -webkit-transform:rotate(0)
@-webkit-keyframes cloud1-fly
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    50%
        -webkit-transform:translateX(-0.08rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.16rem)
@-webkit-keyframes cloud2-fly
    0%
        opacity:0
        -webkit-transform:translateX(0rem)
    50%
        -webkit-transform:translateX(-0.09rem)
        opacity:1
    100%
        opacity:0
        -webkit-transform:translateX(-0.18rem)
@-webkit-keyframes title1
    0%
        -webkit-transform:translateY(0)
    5%
        -webkit-transform:translateY(-0.05rem)
    10%
        -webkit-transform:translateY(0)
    15%
        -webkit-transform:translateY(-0.04rem)
    20%
        -webkit-transform:translateY(0)
    25%
        -webkit-transform:translateY(-0.032rem)
    30%
        -webkit-transform:translateY(0)
    35%
        -webkit-transform:translateY(-0.024rem)
    40%
        -webkit-transform:translateY(0)
    45%
        -webkit-transform:translateY(-0.017rem)
    50%
        -webkit-transform:translateY(0)
    100%
        -webkit-transform:translateY(0rem)

@-webkit-keyframes title 
    0% 
        -webkit-transform:translateY(-1rem) scale(2)
    
    100% 
        -webkit-transform:translateY(0) scale(1)
    

@-webkit-keyframes sub-title 
    0% 
        -webkit-transform:translateX(1rem)
    
    100% 
        -webkit-transform:translateX(0)
    
@-webkit-keyframes text-in 
    0%
        opacity:0
        
    100% 
        opacity:1
    
@-webkit-keyframes prize
    0%
        opacity:0
    50%
        opacity:1
    60%
        -webkit-transform:scale(1)
    70%
        -webkit-transform:scale(1.1)
    80%
        -webkit-transform:scale(1)
    90%
        -webkit-transform:scale(1.1)
    100%
        -webkit-transform:scale(1)
@-webkit-keyframes sound 
    0%,100% 
        opacity:0
    
    50% 
        opacity:1
    
@-webkit-keyframes shake 
    0%,100%
        -webkit-transform:scale(1)
        opacity:0.8
    50% 
        -webkit-transform:scale(1.3)
        opacity:1
        
@-webkit-keyframes building 
    0%
        -webkit-transform:translateX(1rem)
    100% 
        -webkit-transform:translateX(-1rem)

@-webkit-keyframes desc 
    0%,100% 
        opacity:0
    
    50% 
        opacity:1
    

@-webkit-keyframes main 
    0% 
        opacity:0
    
    100% 
        opacity:1
    

animation(time,name,delay) 
    -webkit-animation-duration:time
    -webkit-animation-name:name
    -webkit-backface-visibility: hidden
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -webkit-animation-delay:delay
* 
    -webkit-user-select: none
    -ms-user-select: none
    -moz-user-select: none
    -khtml-user-select: none
    user-select: none
    -webkit-touch-callout:none
    -webkit-tap-highlight-color:transparent

background(image) 
    height:100%
    width:100%
    position:relative
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:bottom center
    background-size:100% 100%
    z-index:1

image-wauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% auto

image-hauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:auto 100%

image-fit(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% 100%

.up 
    -webkit-animation-name:up-animation
    -webkit-animation-duration: 1.5s!important
    -webkit-animation-timing-function: ease
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode:both
    image-wauto('up.png')
    height:0.08rem
    width:0.06rem
    position:absolute
    bottom:0
    z-index:5
    left:0.47rem

.music 
    image-wauto('music.png')
    width:0.08rem
    height:0.08rem
    z-index:500000
    top:0.1rem
    position:absolute
    right:0.03rem

.music-play                                                                    
    -webkit-animation-name:ratote
    -webkit-backface-visibility: hidden
    -webkit-animation-duration: 3s 
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode: both
 

body 
    height:100%
    position:absolute
    font-size: 14px
    color: #333 
    font-family: '微软雅黑'
    background-color: #fff
    letter-spacing: 1px
    margin:0 auto
    box-shadow: 0 0 160px 0 #5C99E7
    -webkit-user-select: none
    background-size:cover
    width:1rem
    box-sizing:border-box
    -webkit-transition:all .5s
    .share
        width:100%
        image-wauto('share.png')
        height:100%
        position:absolute
        top:0
        background-color:rgba(0,0,0,0.8)
        background-position:top
        display:none
        z-index:5
    .swiper-container 
        width:100%
        height:100vh
    
    .nav 
        image-wauto('nav2.png')
        width:100%
        height:0.2rem
        position:absolute
        z-index:2
        top:0
    .page1 
        .nav
            image-wauto('nav.png')
        .background 
            background('background1.jpg')
            background-size:100% auto
            background-position:bottom
        .p1-cloud
            background('p1-cloud.png')
            position:absolute
            background-position:top
            width:100%
            height:1rem
            z-index:2
            top:0
            -webkit-animation-timing-function: linear
        .coins1
            z-index:5
            image-wauto('coins1.png')
            width:100%
            height:1rem
            position:absolute
            background-position:top center
            top:0
            -webkit-transform:translateY(-0.5rem)
            animation(3s,'coins1',0s)
            -webkit-animation-iteration-count:infinite
        .coins2
            z-index:5
            image-wauto('coins2.png')
            width:100%
            height:1rem
            position:absolute
            background-position:top center
            top:0
            -webkit-transform:translateY(-0.5rem)
            animation(3s,'coins2',0s)
            -webkit-animation-iteration-count:infinite
        .coins3
            z-index:5
            image-wauto('coins3.png')
            width:100%
            height:1rem
            position:absolute
            background-position:top center
            top:0
            -webkit-transform:translateY(-0.5rem)
            animation(3s,'coins3',0s)
            -webkit-animation-iteration-count:infinite

        .font-title 
            z-index:5
            image-wauto('title1.png')
            width:100%
            height:1rem
            position:absolute
            background-position:top center
            top:0
            animation(3s,'title1',0s)
            -webkit-animation-iteration-count:infinite
        .subtitle 
            z-index:2
            image-wauto('subtitle1.png')
            width:100%
            height:1.5rem
            position:absolute
            background-position:top center
            top:0
        .bottom
            z-index:2
            image-wauto('bottom1.png')
            width:100%
            height:1rem
            position:absolute
            bottom:0
            background-position:bottom
        .car0
            z-index:2
            image-wauto('page1car1.png')
            width:100%
            height:1.5rem
            position:absolute
            bottom:0
            background-position:bottom
            display:none
        .car1
            z-index:2
            image-wauto('page1car2.png')
            width:100%
            height:1.5rem
            position:absolute
            bottom:0
            background-position:bottom
            display:none
        .car2
            z-index:2
            image-wauto('page1car3.png')
            width:100%
            height:1.5rem
            position:absolute
            bottom:0
            background-position:bottom
            display:none
            
    .page2 
        .background 
            background-color:#339d77
            position:absolute
            width:100%
            height:100%
        .building
            image-wauto('main2.png')
            background-position:top center
            width:100%
            height:1.5rem
            z-index:7
            top:0
            position:absolute
            animation(5s,'building',0s)
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
        .main2
            image-wauto('main2-back.png')
            background-position:top center
            width:100%
            height:1.5rem
            z-index:5
            top:0
            position:absolute
        .running-car
            image-wauto('running-car.png')
            background-position:top center
            width:100%
            height:1.5rem
            z-index:12
            top:0
            position:absolute
        .running-circle1
            image-wauto('running-circle.png')
            background-position:top center
            width:0.135rem
            height:0.14rem
            top:0.885rem
            left:0.18rem
            z-index:12
            position:absolute
            animation(5s,'ratote',0s)
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
        .running-circle2
            image-wauto('running-circle.png')
            background-position:top center
            width:0.135rem
            height:0.14rem
            z-index:12
            top:0.885rem
            right:0.15rem
            position:absolute
            animation(5s,'ratote',0s)
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear

        .cloud1
            image-wauto('cloud1.png')
            background-position:top center
            width:100%
            height:1.5rem
            z-index:2
            top:0
            position:absolute
            animation(6s,'cloud1-fly',0s)
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
        .cloud2
            image-wauto('cloud2.png')
            background-position:top center
            width:100%
            height:1.5rem
            z-index:2
            top:0
            position:absolute
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
            animation(5s,'cloud2-fly',2s)
        .p1
            image-wauto('point1.png')
            width:0.06rem
            height:0.07rem
            z-index:12
            position:absolute
            top:0.82rem
            left:0.26rem
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
            animation(1s,'shake',1s)
            &.active
                width:0.08rem
                height:0.09rem
        .p2
            image-wauto('point2.png')
            width:0.06rem
            height:0.07rem
            z-index:12
            position:absolute
            top:0.75rem
            left:0.5rem
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
            animation(1s,'shake',1s)
            &.active
                width:0.08rem
                height:0.09rem
        .p3
            image-wauto('point3.png')
            width:0.06rem
            height:0.07rem
            z-index:12
            position:absolute
            top:0.91rem
            left:0.58rem
            -webkit-animation-iteration-count:infinite
            -webkit-animation-timing-function: linear
            animation(1s,'shake',1s)
            &.active
                width:0.08rem
                height:0.09rem
        .p2-text1
            image-wauto('p2-text1.png')
            width:100%
            height:1.2rem
            background-position:bottom center
            position:absolute
            bottom:0
            display:none
        .p2-text2
            image-wauto('p2-text2.png')
            width:100%
            height:1.2rem
            background-position:bottom center
            position:absolute
            bottom:0
            display:none
        .p2-text3
            image-wauto('p2-text3.png')
            width:100%
            height:1.2rem
            background-position:bottom center
            position:absolute
            bottom:0
            display:none
    .page3 
        .background 
            position:absolute
            width:100%
            height:100%
            background-color:#6347bf
        .title 
            z-index:2
            image-wauto('title3.png')
            width:100%
            height:1rem
            position:absolute
            top:0
        
        .main
            image-wauto('main3.png')
            width:100%
            height:1.2rem
            background-position:bottom center
            background-size:80% auto
            position:absolute
            bottom:0
        .main3-text
            image-wauto('main3-text.png')
            width:100%
            height:2rem
            background-position:bottom center
            background-size:80% auto
            position:absolute
            bottom:0
            -webkit-transform-origin:bottom
            -webkit-animation-iteration-count:infinite
            animation(2s,'main3-text',2s)
    .page4 
        .background 
            image-wauto('background4.png')
            width:100%
            height:100%
            background-color:#13b9f3
            position:absolute
            background-position:top
            
        .title 
            z-index:2
            image-wauto('title4.png')
            width:100%
            height:1rem
            position:absolute
            top:0
        
        .sub-title 
            z-index:2
            image-wauto('subtitle4.png')
            width:100%
            height:1rem
            position:absolute
            top:0
            -webkit-animation-iteration-count:infinite
            animation(1.5s,'main4',0s)
             
        .main
            image-wauto('main4.png')
            width:100%
            height:2rem
            bottom:0
            position:absolute
            background-position:bottom
            z-index:2
        .main4-text
            image-wauto('main4-text.png')
            width:100%
            height:2rem
            bottom:0
            position:absolute
            background-position:bottom
            z-index:2

        .first
            image-wauto('main4-first.png')
            width:100%
            height:1rem
            bottom:0
            position:absolute
            background-position:bottom
            z-index:2
            animation(1s,'prize',1s)
            display:none
        .second
            image-wauto('main4-second.png')
            width:100%
            height:1rem
            bottom:0
            position:absolute
            background-position:bottom
            z-index:2
            animation(1s,'prize',1.3s)
            display:none
        .third
            image-wauto('main4-third.png')
            width:100%
            height:1rem
            bottom:0
            position:absolute
            background-position:bottom
            z-index:2
            animation(1s,'prize',1.6s)
            display:none
    .page5 
        .background 
            background('background5.jpg')
            background-position:bottom center 
        .stone
            image-wauto('stone.png')
            width:100%
            height:1.5rem
            background-position:bottom
            position:absolute
            bottom:0
            z-index:2
        .p5-qu
            image-wauto('p5-qu.png')
            width:100%
            height:1.6rem
            background-position:top
            position:absolute
            top:0
            z-index:2
            -webkit-animation-iteration-count:infinite
            animation(1.5s,'bigger',0s)
        .qrcode
            width:0.25rem
            height:0.25rem
            position:absolute
            -webkit-user-select:initial
            bottom:0.72rem
            right:0.16rem
            z-index:2
        .share-btn
            width:0.25rem
            height:0.13rem
            position:absolute
            bottom:0.6rem
            right:0.16rem
            z-index:3
            image-wauto('share-btn.png')
            background-position:bottom
            -webkit-animation-iteration-count:infinite
            animation(1.5s,'share',0s)
        .p5-c1
            image-wauto('p5-c1.png')
            width:100%
            height:1rem
            background-position:top
            position:absolute
            top:0
            z-index:2
            -webkit-animation-iteration-count:infinite
            animation(2s,'p5-c1',0s)
        .p5-c2
            image-wauto('p5-c2.png')
            width:100%
            height:1rem
            background-position:top
            position:absolute
            top:0
            z-index:2
            -webkit-animation-iteration-count:infinite
            animation(4s,'p5-c2',1s)
        .p5-c3
            image-wauto('p5-c3.png')
            width:100%
            height:1rem
            background-position:top
            position:absolute
            top:0
            z-index:2
            -webkit-animation-iteration-count:infinite
            animation(3s,'p5-c3',1.2s)
        .p5-c4
            image-wauto('p5-c4.png')
            width:100%
            height:1rem
            background-position:top
            position:absolute
            top:0
            z-index:2
            -webkit-animation-iteration-count:infinite
            animation(3s,'p5-c4',0.5s)
